@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('section-header.css');
@import url('section-catalog.css');
* {
  margin: 0;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
  height: 100px;
  background-color: black;
}